
#############################################
# BACKEND ###################################
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

#############################################
# FRONTEND ##################################
frontend/.DS_Store
frontend/.thumbs.db
frontend/node_modules

# Quasar core related directories
frontend/.quasar
frontend/dist

# Cordova related directories and files
frontend/src-cordova/node_modules
frontend/src-cordova/platforms
frontend/src-cordova/plugins
frontend/src-cordova/www

# Capacitor related directories and files
frontend/src-capacitor/www
frontend/src-capacitor/node_modules

# BEX related directories and files
frontend/src-bex/www
frontend/src-bex/js/core

# Log files
frontend/npm-debug.log*

# Editor directories and files
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/